<configuration>
    <!-- When deployed, we log at the INFO level to a rolling file -->
    <appender class="ch.qos.logback.core.rolling.RollingFileAppender" name="FILE">
        <file>${OTTO_APP_DATA_PATH:-helloworld}/log/current.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${OTTO_APP_DATA_PATH:-helloworld}/log/%d{yyyy-MM-dd/HH}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>